<ion-header>
  <ion-navbar>
    <ion-title> {{ 'I18N_GRASSCUBE' | translate }} - {{ 'I18N_PROCEEDING' | translate }} </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="popNavigation()">
          <ion-icon name="arrow-up"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons>{{ (proceeding | async)?.title }}</ion-buttons>
    </ion-toolbar>

    <ion-card-header>
      <p>{{(proceeding | async)?.meetingDate | localizedDate:'short'}}</p>
      <ion-buttons left>
        {{ 'I18N_ATTENDEES' | translate}}:
        <button ion-button clear icon-only (click)="navigateToUserDetail()" *ngFor="let attendee of attendees">
          <span *ngIf="!((attendee | async)?.imageUrl)">{{(attendee | async)?.name}}</span>
          <ion-avatar *ngIf="(attendee | async)?.imageUrl">
            <img [src]="(attendee | async)?.imageUrl">
          </ion-avatar>
        </button>
      </ion-buttons>
    </ion-card-header>

    <ion-card-content>
      <p>{{(proceeding | async)?.content}}</p>
    </ion-card-content>

    <ion-card *ngFor="let decision of decisions; let i=index">
      <ion-toolbar>
        <ion-buttons>
          <p>{{ 'I18N_DECISION' | translate }}{{i+1}} - {{ (decision | async)?.title }}</p>
          <p text-right>
            {{ 'I18N_ELAPSED_TIME' | translate}}
            {{ (decision | async)?.totalElapsedTime }}
            {{ 'I18N_HOURS' | translate}}
          </p>
          <p text-right>
            {{ 'I18N_DIFFERENCE' | translate}}
            {{ (decision | async)?.totalDifference | number}}
          </p>
        </ion-buttons>
        <ion-buttons right>
          <button ion-button icon-only (click)="navigateToDecisionDetail(decision)">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card>
  </ion-card>
</ion-content>
