<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>
  <ion-card>
    <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="popNavigation()">
          <ion-icon name="arrow-up"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons>{{ 'I18N_ACTIVITY' | translate }} - {{ 'I18N_EDITOR' | translate }}</ion-buttons>
    </ion-toolbar>

    <form [formGroup]="form">
      <ion-list>
        <ion-item *ngIf="!isNative">
          {{ 'I18N_PHOTOS' | translate }}
          <!-- {{ 'I18N_OR' | translate }} {{ 'I18N_DOCUMENTS' | translate }} -->
          <input type="file" (change)="onChangeActivityPhoto($event)" accept="image/*" />
          <img src="" style="width: auto; height: auto">
        </ion-item>
        <ion-item *ngIf="isNative">
          <ion-label>{{ 'I18N_PHOTOS' | translate }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'I18N_TITLE' | translate }}</ion-label>
          <ion-input formControlName="title" type="text" text-right [class.invalid]="!form.controls.title.valid && (form.controls.title.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'I18N_ACTIVITY_DATE' | translate }}</ion-label>
          <ion-datetime formControlName="activityDate" displayFormat="YYYY MM DD, HH:mm" [class.invalid]="!form.controls.activityDate.valid && (form.controls.activityDate.dirty || submitAttempt)"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'I18N_ELAPSED_TIME' | translate }}</ion-label>
          <ion-input formControlName="elapsedTime" type="number" text-right [class.invalid]="!form.controls.elapsedTime.valid && (form.controls.elapsedTime.dirty || submitAttempt)"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>{{ 'I18N_DESCRIPTION' | translate }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-textarea formControlName="description" [class.invalid]="!form.controls.description.valid && (form.controls.description.dirty || submitAttempt)"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label>{{ 'I18N_PARTICIPANTS' | translate }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-select formControlName="participants" multiple="true" [selectOptions]="{title: ('I18N_PARTICIPANTS' | translate), subTitle: ('I18N_SELECT_ALL' | translate)}"
            [class.invalid]="!form.controls.participants.valid && (form.controls.participants.dirty || submitAttempt)">
            <ion-option *ngFor="let user of users" [value]="(user | async)?.id">
              {{(user | async)?.name}}
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>{{ 'I18N_RELATED_DECISION' | translate }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-select formControlName="parentDecision" [selectOptions]="{title: ('I18N_RELATED_DECISION' | translate), subTitle: ('I18N_SELECT_ONE' | translate)}" [class.invalid]="!form.controls.parentDecision.valid && (form.controls.parentDecision.dirty || submitAttempt)">
            <ion-option *ngFor="let decision of decisions | async" [value]="decision.id">{{decision.title}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-list>
    </form>
    <ion-buttons right>
      <!-- <button ion-button>{{ 'I18N_SAVE' | translate }}</button> -->
      <button ion-button (tap)="onSave()">{{ 'I18N_UPLOAD' | translate }}</button>
    </ion-buttons>
  </ion-card>
</ion-content>
