<ion-content padding fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>

  <ion-row>
      <ion-col col-sm-3 col-xl-4>
      </ion-col>
      <ion-col col-12 col-sm-6 col-xl-4>

              <ion-toolbar *ngIf="sharedDataService.paneSplited">
                <ion-buttons right>
                  <button ion-button icon-only (tap)="popNavigation()">
                    <ion-icon name="close"></ion-icon>
                  </button>
                </ion-buttons>
                <ion-buttons>{{ 'I18N_DECISION' | translate }} - {{ 'I18N_EDITOR' | translate }}</ion-buttons>
              </ion-toolbar>

  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label>{{ 'I18N_TITLE' | translate }}</ion-label>
        <ion-input formControlName="title" type="text" text-right [class.invalid]="!form.controls.title.valid && (form.controls.title.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'I18N_EXPIRY_DATE' | translate }}</ion-label>
        <ion-datetime formControlName="expiryDate" displayFormat="YYYY MM DD, HH:mm" max="2100" [class.invalid]="!form.controls.expiryDate.valid && (form.controls.expiryDate.dirty || submitAttempt)"></ion-datetime>
      </ion-item>

      <ion-item no-lines>
        <ion-label>{{ 'I18N_DESCRIPTION' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-textarea formControlName="description" [class.invalid]="!form.controls.description.valid && (form.controls.description.dirty || submitAttempt)"></ion-textarea>
      </ion-item>


      <ion-item no-lines>
        <ion-label>{{ 'I18N_ACCEPTERS' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-select formControlName="accepters" multiple="true" [selectOptions]="{title: ('I18N_ACCEPTERS' | translate), subTitle: ('I18N_SELECT_ALL' | translate)}"
          [class.invalid]="!isValidAccepters() && (form.controls.accepters.dirty || submitAttempt)">
          <ion-option *ngFor="let user of users" [value]="(user | async)?.id">
            {{(user | async)?.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-lines>
        <ion-label>{{ 'I18N_REJECTERS' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-select formControlName="rejecters" multiple="true" [selectOptions]="{title: ('I18N_REJECTERS' | translate), subTitle: ('I18N_SELECT_ALL' | translate)}"
          [class.invalid]="!isValidRejecters() && (form.controls.rejecters.dirty || submitAttempt)">
          <ion-option *ngFor="let user of users" [value]="(user | async)?.id">
            {{(user | async)?.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-lines>
        <ion-label>{{ 'I18N_ABSTAINERS' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-select formControlName="abstainers" multiple="true" [selectOptions]="{title: ('I18N_ABSTAINERS' | translate), subTitle: ('I18N_SELECT_ALL' | translate)}"
          [class.invalid]="!isValidAbstainers() && (form.controls.abstainers.dirty || submitAttempt)">
          <ion-option *ngFor="let user of users" [value]="(user | async)?.id">
            {{(user | async)?.name}}
          </ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </form>
  <ion-buttons right>
    <button ion-button (tap)="onSave()">{{ 'I18N_UPLOAD' | translate }}</button>
  </ion-buttons>
</ion-col>
<ion-col col-sm-3 col-xl-4>
</ion-col>
</ion-row>
</ion-content>
