<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>

  <ion-row>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
    <ion-col col-12 col-sm-6 col-xl-4>
      <ion-item tappable *ngFor="let proceeding of proceedings | async" (tap)="navigateToDetail(proceeding.id)">
        <ion-toolbar *ngIf="proceeding.state == stateEnum.STATE_PENDING_CREATE">

            {{'I18N_PENDING_CREATE' | translate}} -
            <span *ngIf="needYou(proceeding)">
              <ion-icon name="alert" color="danger"></ion-icon>
              {{user?.name}}, <br>{{'I18N_NEED_YOUR_REVIEW' | translate}}
            </span>
            {{'I18N_REVIEWED_BY' | translate}}: ({{proceeding.reviewers.length}}/{{proceeding.attendees.length}})

        </ion-toolbar>
          <ion-row>
            <p>{{proceeding.title}}</p>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>{{proceeding.meetingDate | localizedDate}}</p>
            </ion-col>
            <ion-col>
              <p text-right> {{ proceeding.attendees.length }} {{ 'I18N_ATTENDEES' | translate}} </p>
              <p text-right> {{ proceeding.childDecisions.length }} {{ 'I18N_DECISIONS' | translate}} </p>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-col>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
  </ion-row>

  <ion-fab right middle *ngIf="creationPermitted">
    <button ion-fab (tap)="navigateToEditor()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
