<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>

  <ion-grid fixed>
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let group of groups">
        <ion-item tappable (tap)="navigateToGroup(group)">
          <ion-card-header>
            {{group.title}}
          </ion-card-header>
          <ion-card-content>
            {{group.description}}
          </ion-card-content>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-fab right middle *ngIf="sharedDataService.loggedIn">
    <button ion-fab (tap)="navigateToEditor()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->
</ion-content>
