<ion-header>
  <ion-navbar>
    <ion-title>{{ 'I18N_GRASSCUBE' | translate }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="pushMenu()">
        <ion-icon *ngIf="!loggedIn" name="contact"></ion-icon>
        <ion-avatar *ngIf="loggedIn">
          <img [src]="user.imageUrl" >
        </ion-avatar>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="!loggedIn">
  <ion-card *ngFor="let group of groups | async" (click)="pushGroup(group.id)">
    <ion-card-header>
      {{group.title}}
    </ion-card-header>
    <ion-card-content>
      {{group.description}} - (클릭)
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tabs *ngIf="loggedIn" tabsPlacement="bottom">
  <ion-tab [root]="tab1Root" tabUrlPath="list" [tabTitle]="('I18N_GROUPS' | translate) || '&nbsp;'" tabIcon="cube"></ion-tab>
  <ion-tab [root]="tab2Root" tabUrlPath="list" [tabTitle]="('I18N_UNCHECKED' | translate) || '&nbsp;'" tabIcon="eye-off"></ion-tab>
  <ion-tab [root]="tab3Root" tabUrlPath="list" [tabTitle]="('I18N_NOTIFICATIONS' | translate) || '&nbsp;'" tabIcon="notifications"></ion-tab>
</ion-tabs>
