<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>
  <ion-card *ngFor="let decision of decisions | async" (tap)="navigateToDetail(decision.id)">
    <ion-card-content>
      <ion-row>
        <ion-col>
          <p>{{decision.meetingDate | localizedDate}}</p>
          <p>{{decision.title}}</p>
        </ion-col>
        <ion-col>
          <p text-right *ngIf="decision.accepters.length"> {{ 'I18N_ACCEPTERS' | translate}} {{ decision.accepters.length }} </p>
          <p text-right *ngIf="decision.rejecters.length"> {{ 'I18N_REJECTERS' | translate}} {{ decision.rejecters.length }} </p>
          <p text-right *ngIf="decision.abstainers.length"> {{ 'I18N_ABSTAINERS' | translate}} {{ decision.abstainers.length }} </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="this.decisionChangesetService.isActivated">
          <button ion-button icon-only (tap)="navigateToEditorForUpdate(decision.id)">
            <ion-icon name="create"></ion-icon>
          </button>
          <button ion-button icon-only (tap)="onDelete(decision)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <p text-right>
            {{ 'I18N_ELAPSED_TIME' | translate}} {{decision.totalElapsedTime | number}} {{ 'I18N_HOURS' | translate}}
          </p>
          <p text-right>
            {{ 'I18N_DIFFERENCE' | translate}} {{decision.totalDifference | number}}
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-fab right middle *ngIf="this.decisionChangesetService.isActivated">
    <button ion-fab (tap)="navigateToEditor()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
