page-decision-list {
  .selectedFAB {
    color: color($colors, primary);
  }

  .grid {
    padding: 0px;
  }
  .item-md {
    padding-left: 0px;
    padding-right: 0px;
  }
  .item-md.item-block .item-inner {
    padding-right: 0px;
  }
  .label-md {
    margin: 0px;
  }
}
