<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>

  <ion-row>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
    <ion-col col-12 col-sm-6 col-xl-4>
      <ion-item tappable *ngFor="let member of members | async" (tap)="navigateToDetail(member.member_id)">
        <ion-row>
          <grasscube-state-label [state]="member.document_state" [postfix]="member.name"></grasscube-state-label>
        </ion-row>
        <ion-row>
          <p>{{member.modified_datetime | localizedDate}}</p>
        </ion-row>
        <ion-row>
          <ion-col>
            <p text-right style="white-space: normal">
              {{ 'I18N_ROLES' | translate}}: {{ member.roles_count }}
            </p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-col>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
  </ion-row>

  <ion-fab right middle *ngIf="creationPermitted">
    <button ion-fab (tap)="navigateToEditor()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
