<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>

  <ion-col>
    <ion-toolbar *ngIf="sharedDataService.paneSplited">
      <ion-buttons left>
        <button ion-button icon-only (tap)="popNavigation()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons>{{ 'I18N_MEMBERS' | translate}}</ion-buttons>
    </ion-toolbar>

    <span *ngIf="!sharedDataService.memberReadPermitted">
      <p text-center>{{'I18N_ACCESS_DENIED' | translate}}</p>
      <gyetube-member-register-button></gyetube-member-register-button>
    </span>
    <span *ngIf="sharedDataService.memberReadPermitted && members.length == 0">
      <p text-center>{{'I18N_EMPTY_LIST' | translate}}</p>
    </span>

    <ion-grid fixed>
      <ion-row>
        <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let member of members">
          <ion-item tappable (tap)="navigateToDetail(member.member_id, member.member_log_id)">
            <ion-toolbar *ngIf="member.member_state == 'JOIN_REQUESTED'">
              {{'I18N_JOIN_REQUESTED' | translate}}<br>
              <p><ion-icon name="alert" color="danger"></ion-icon>{{'I18N_NEED_YOUR_REVIEW' | translate}}</p>
            </ion-toolbar>
            <ion-row>
              <ion-col col-auto>
                <ion-avatar *ngIf="member?.image_url?.includes('http')">
                  <img [src]="member?.image_url">
                </ion-avatar>
              </ion-col>
              <ion-col>
                <p>{{ member.name }}</p>
                <p text-right style="white-space: normal" *ngFor="let role of member.roles">{{ (util.translateDBString(role) | async) }}</p>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-col>

  <ion-fab right middle *ngIf="sharedDataService.memberCreatePermitted">
    <button ion-fab (tap)="navigateToEditor()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab right bottom *ngIf="sharedDataService.memberReadPermitted" #fab>
    <button [class.noti-button]="true" ion-fab>
      <ion-icon name="eye"></ion-icon>
    </button>
    <ion-badge *ngIf="sharedDataService.joinRequestedCount" [class.noti-badge]="sharedDataService.joinRequestedCount" >{{sharedDataService.joinRequestedCount}}</ion-badge>
    <ion-fab-list side="top">
      <button ion-fab (tap)="memberListState = enum.STATE_DELETED; onFAB(fab)" [class.selectedFAB]="memberListState==enum.STATE_DELETED">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-fab (tap)="memberListState = enum.STATE_NORMAL; onFAB(fab)" [class.selectedFAB]="memberListState==enum.STATE_NORMAL">
        <ion-icon name="attach"></ion-icon>
      </button>
      <button [class.noti-button]="true" ion-fab (tap)="memberListState = enum.STATE_PENDING; onFAB(fab)" [class.selectedFAB]="memberListState==enum.STATE_PENDING">
        <ion-icon name="mail"></ion-icon>
      </button>
      <ion-badge *ngIf="sharedDataService.joinRequestedCount" [class.noti-badge]="sharedDataService.joinRequestedCount" >{{sharedDataService.joinRequestedCount}}</ion-badge>
    </ion-fab-list>
  </ion-fab>
</ion-content>
