page-member-list {
  .selectedFAB {
    color: color($colors, primary);
  }
  .grid {
    padding: 0px;
  }
  .col {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .item {
    padding-left: 5px;
  }
  .item-inner {
    padding-right: 5px!important;
  }
  .label {
    margin-right: 0px;
  }
  p {
    color: color($colors, dark, base)!important;
  }

  .noti-button {
    overflow: visible!important;
  }

  .noti-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
  }
}
