<ion-header>
  <ion-navbar>
    <ion-title> {{ 'I18N_GRASSCUBE' | translate }} - {{ 'I18N_RECEIPT' | translate }} </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="popNavigation()">
          <ion-icon name="arrow-up"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons>{{(receipt | async)?.memo}}</ion-buttons>
    </ion-toolbar>

    <ion-card-header>
      <ion-row justify-content-start>
        <ion-col col-auto>
          <button ion-button clear icon-only (click)="navigateToUserDetail()">
            <span *ngIf="!((creator | async)?.imageUrl)">{{(creator | async)?.name}}</span>
            <ion-avatar *ngIf="(creator | async)?.imageUrl">
              <img [src]="(creator | async)?.imageUrl">
            </ion-avatar>
          </button>
        </ion-col>
        <ion-col>
          <p>{{(creator | async)?.name}}</p>
          <p>{{(receipt | async)?.modifiedDate | localizedDate:'short'}}</p>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <p>{{ 'I18N_PAYMENT_DATE' | translate}} {{(receipt | async)?.paymentDate | localizedDate:'short'}}</p>
      <p>{{ 'I18N_DIFFERENCE' | translate}} {{(receipt | async)?.difference | number}}</p>
    </ion-card-content>

    <ion-card *ngIf="activity && (activity | async)">
      <ion-toolbar>
        <ion-buttons>
          <p>{{ 'I18N_ACTIVITY' | translate }} - {{ (activity | async)?.title }}</p>
        </ion-buttons>
        <ion-buttons left>
          <button ion-button icon-only (click)="navigateToActivityDetail(activity)">
              <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card>
  </ion-card>
</ion-content>
