<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>

  <ion-row>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
    <ion-col col-12 col-sm-6 col-xl-4>

      <ion-toolbar *ngIf="sharedDataService.paneSplited">
        <ion-buttons right>
          <button ion-button icon-only (tap)="popNavigation()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-buttons>{{proceeding?.title}}</ion-buttons>
      </ion-toolbar>

      <ion-toolbar *ngIf="proceeding?.document_state == 'PENDING_ADDS' && proceeding?.next_id == 0">
        <ion-buttons>
          {{'I18N_PENDING_ADDS' | translate}}<br>
          <span *ngIf="proceeding?.need_my_review">
            <ion-icon name="alert" color="danger"></ion-icon>
            {{user?.name}}, {{'I18N_NEED_YOUR_REVIEW' | translate}}
          </span>
          {{'I18N_REVIEWED_BY' | translate}}: ({{proceeding?.reviewers.length}}/{{proceeding?.attendees.length}})
        </ion-buttons>
      </ion-toolbar>

      <p>{{proceeding?.meeting_datetime | localizedDate:'short'}}</p>
      <ion-buttons left>
        {{ 'I18N_ATTENDEES' | translate}}:
        <grasscube-user *ngFor="let attendee of proceeding?.attendees" [user]="attendee"></grasscube-user>
      </ion-buttons>
      <ion-buttons left *ngIf="proceeding?.document_state == 'PENDING_ADDS' && proceeding?.next_id == 0">
        {{ 'I18N_REVIEWED_BY' | translate}}:
        <grasscube-user *ngFor="let reviewer of proceeding?.reviewers" [user]="reviewer"></grasscube-user>
      </ion-buttons>

      <p>{{proceeding?.description}}</p>

      <ion-card *ngFor="let decision of proceeding?.child_decisions; let i=index">
        <ion-item tappable (tap)="navigateToDecisionDetail(decision.decision_id)">
          <ion-row align-items-center>
            <ion-col>
              <p>{{ 'I18N_DECISION' | translate }} {{i+1}}</p>
              <p>{{ 'I18N_' + decision.document_state | translate}} - {{ decision.title }}</p>
              <div style="height:10px"></div>
              <p>{{ decision.description }}</p>
              <p text-right style="white-space: normal" *ngIf="decision.accepters_count">
                {{ 'I18N_ACCEPTERS' | translate}} {{ decision.accepters_count }}
              </p>
              <p text-right style="white-space: normal" *ngIf="decision.rejecters_count">
                {{ 'I18N_REJECTERS' | translate}} {{ decision.rejecters_count }}
              </p>
              <p text-right style="white-space: normal" *ngIf="decision.abstainers_count">
                {{ 'I18N_ABSTAINERS' | translate}} {{ decision.abstainers_count }}
              </p>
              <p text-right style="white-space: normal" *ngIf="decision.totalElapsedTime">
                {{ 'I18N_ELAPSED_TIME' | translate}} {{ decision.totalElapsedTime }} {{ 'I18N_HOURS' | translate}}
              </p>
              <p text-right style="white-space: normal" *ngIf="decision.totalDifference">
                {{ 'I18N_DIFFERENCE' | translate}} {{ decision.totalDifference | number}}
              </p>
            </ion-col>
            <ion-col col-auto>
              <ion-icon style="font-size: 1.8em" name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>

      <ion-buttons right *ngIf="proceeding?.need_my_review">
        <ion-list radio-group no-lines>
          <ion-item>
            <ion-label style="color: #7f7f7f;">{{ 'I18N_VERIFIED_GOOD' | translate }}</ion-label>
            <ion-radio (ionSelect)="verifiedGood=true" checked="true"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label style="color: #7f7f7f;">{{ 'I18N_NEED_TO_REVISE' | translate }}</ion-label>
            <ion-radio (ionSelect)="verifiedGood=false"></ion-radio>
          </ion-item>
        </ion-list>
        <button ion-button (tap)="onSubmit()">{{ 'I18N_SUBMIT' | translate }}</button>
      </ion-buttons>

      <ion-toolbar *ngIf="proceeding?.prev_id || proceeding?.next_id">
        <ion-buttons left *ngIf="proceeding?.prev_id">
          <button ion-button icon-only (tap)="navigateToPrev()">
            <ion-icon name="arrow-back"></ion-icon>
            {{ 'I18N_PREV' | translate}}
            <br/>
            <br/> {{ 'I18N_REVISION' | translate}}
          </button>
        </ion-buttons>
        <span *ngIf="proceeding?.next_id != 0">
          <p text-center>{{'I18N_PENDING_ADDS' | translate}} - {{'I18N_REJECTED' | translate}}</p>
        </span>
        <ion-buttons right *ngIf="proceeding?.next_id">
          <button ion-button icon-only (tap)="navigateToNext()">
            {{ 'I18N_NEXT' | translate}}
            <br/>
            <br/> {{ 'I18N_REVISION' | translate}}
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
  </ion-row>
</ion-content>
