<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>

  <ion-row>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
    <ion-col col-12 col-sm-6 col-xl-4>

      <ion-toolbar *ngIf="sharedDataService.paneSplited">
        <ion-buttons right>
          <button ion-button icon-only (tap)="popNavigation()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-buttons>{{decision?.title}}</ion-buttons>
      </ion-toolbar>

      <p>{{ 'I18N_MEETING_DATE' | translate}}: {{decision?.meeting_datetime | localizedDate:'short'}}</p>
      <p>{{ 'I18N_EXPIRY_DATE' | translate }}: {{decision?.expiry_datetime | localizedDate}}</p>

      <div style="height:10px"></div>

      <p>{{decision?.description}}</p>

      <div style="height:10px"></div>

      <ion-buttons left *ngIf="decision?.accepters.length">
        {{ 'I18N_ACCEPTERS' | translate}}:
        <gyetube-user *ngFor="let accepter of decision.accepters" [user]="accepter"></gyetube-user>
      </ion-buttons>
      <ion-buttons left *ngIf="decision?.rejecters.length">
        {{ 'I18N_REJECTERS' | translate}}:
        <gyetube-user *ngFor="let rejecter of decision.rejecters" [user]="rejecter"></gyetube-user>
      </ion-buttons>
      <ion-buttons left *ngIf="decision?.abstainers.length">
        {{ 'I18N_ABSTAINERS' | translate}}:
        <gyetube-user *ngFor="let abstainer of decision.abstainers" [user]="abstainer"></gyetube-user>
      </ion-buttons>

      <ion-card *ngIf="decision?.parent_proceeding">
        <ion-item tappable (tap)="navigateToProceedingDetail(decision.parent_proceeding.proceeding_id)">
          <ion-row align-items-center>
            <ion-col col-auto>
              <ion-icon style="font-size: 1.8em" name="arrow-back"></ion-icon>
            </ion-col>
            <ion-col>
              <p>{{ 'I18N_BASIS_FOR_THIS_DOCUMENT' | translate }}</p>
              <p>{{ 'I18N_PROCEEDING' | translate }} - {{ decision.parent_proceeding.title }}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>

      <div style="height:10px"></div>

      <ion-card *ngFor="let member of decision?.child_members; let i=index">
        <ion-item tappable (tap)="navigateToMemberDetail(member.member_id)">
          <ion-row align-items-center>
            <ion-col col-auto>
              <ion-icon style="font-size: 1.8em" name="arrow-back"></ion-icon>
            </ion-col>
            <ion-col>
              <p>{{ 'I18N_MEMBER' | translate }}{{i+1}}</p>
              <p>{{ 'I18N_' + member.document_state | translate}} - {{ member.name }}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>
      <div style="height:10px" *ngIf="decision?.child_members.length > 0"></div>

      <ion-card *ngFor="let role of decision?.child_roles; let i=index">
        <ion-item tappable (tap)="navigateToRoleDetail(role.role_id)">
          <ion-row align-items-center>
            <ion-col col-auto>
              <ion-icon style="font-size: 1.8em" name="arrow-back"></ion-icon>
            </ion-col>
            <ion-col>
              <p>{{ 'I18N_ROLE' | translate }}{{i+1}}</p>
              <p>{{ 'I18N_' + role.document_state | translate}} - {{ role.name }}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>
      <div style="height:10px" *ngIf="decision?.child_roles.length > 0"></div>

      <ion-card *ngFor="let activity of decision?.child_activities; let i=index">
        <ion-item tappable (tap)="navigateToActivityDetail(activity.activity_id)">
          <ion-row align-items-center>
            <ion-col>
              <p>{{ 'I18N_ACTIVITY' | translate }}{{i+1}} - {{ activity.title }}</p>
              <p text-right style="white-space: normal" *ngIf="activity.elapsed_time * activity.participants_count">
                {{ 'I18N_ELAPSED_TIME' | translate}} {{ activity.elapsed_time * activity.participants_count }} {{ 'I18N_HOURS' | translate}}
              </p>
              <p text-right style="white-space: normal" *ngIf="activity.total_difference">
                {{ 'I18N_DIFFERENCE' | translate}} {{ activity.total_difference | number}}
              </p>
            </ion-col>
            <ion-col col-auto>
              <ion-icon style="font-size: 1.8em" name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>
      <div style="height:10px" *ngIf="decision?.child_activities.length > 0"></div>

      <ion-card *ngFor="let receipt of decision?.child_receipts; let i=index">
        <ion-item tappable (tap)="navigateToReceiptDetail(receipt.receipt_id)">
          <ion-row align-items-center>
            <ion-col>
              <p>{{ 'I18N_RECEIPT' | translate }}{{i+1}} - {{ receipt.title }}</p>
              <p text-right style="white-space: normal" *ngIf="receipt.difference">
                {{ 'I18N_DIFFERENCE' | translate}} {{ receipt.difference | number}}
              </p>
            </ion-col>
            <ion-col col-auto>
              <ion-icon style="font-size: 1.8em" name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>

      <p text-right style="white-space: normal" *ngIf="decision?.total_elapsed_time">
        {{ 'I18N_TOTAL_ELAPSED_TIME' | translate}} {{decision?.total_elapsed_time | number}} {{ 'I18N_HOURS' | translate}}
      </p>
      <p text-right style="white-space: normal" *ngIf="decision?.total_difference">
        {{ 'I18N_TOTAL_DIFFERENCE' | translate}} {{decision?.total_difference | number}}
      </p>

      <ion-toolbar *ngIf="decision?.prev_id || decision?.next_id || decision?.document_state == 'PENDING_ADDS'">
        <ion-buttons left *ngIf="decision?.parent_proceeding.document_state != 'PENDING_ADDS' && decision?.prev_id">
          <button ion-button icon-only (tap)="navigateToPrev()">
            <ion-icon name="arrow-back"></ion-icon>
            {{ 'I18N_PREV' | translate}}
            <br/>
            <br/> {{ 'I18N_REVISION' | translate}}
          </button>
        </ion-buttons>
        <span *ngIf="decision?.next_id != 0">
          <p text-center>{{'I18N_' + decision?.document_state | translate}}</p>
        </span>
        <ion-buttons right *ngIf="decision?.next_id">
          <button ion-button icon-only (tap)="navigateToNext()">
            {{ 'I18N_NEXT' | translate}}
            <br/>
            <br/> {{ 'I18N_REVISION' | translate}}
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
  </ion-row>
</ion-content>
