<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>

  <span *ngIf="!sharedDataService.receiptReadPermitted">
    <p text-center>{{'I18N_ACCESS_DENIED' | translate}}</p>
    <gyetube-member-register-button></gyetube-member-register-button>
  </span>
  <span *ngIf="sharedDataService.receiptReadPermitted && receipts.length == 0">
    <p text-center>{{'I18N_EMPTY_LIST' | translate}}</p>
  </span>

  <ion-row *ngIf="sharedDataService.receiptReadPermitted" style="height: 100%">
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
    <ion-col col-12 col-sm-6 col-xl-4>
      <ion-list [virtualScroll]="receipts" approxItemHeight="130px">
        <ion-item tappable *virtualItem="let receipt" (tap)="navigateToDetail(receipt.receipt_id)">
          <ion-row>
            <p>{{receipt.title}}</p>
          </ion-row>
          <ion-row>
            <ion-col>
            <p>{{receipt.settlement_datetime | localizedDate}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p text-right>{{ 'I18N_BALANCE' | translate}} {{receipt.balance | number}}</p>
              <p text-center>{{ 'I18N_DIFFERENCE' | translate}} <span [style.color]="receipt?.difference >= 0 ? 'green' : 'red'">{{receipt.difference | number}}</span></p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
  </ion-row>

  <ion-fab right middle *ngIf="sharedDataService.receiptCreatePermitted">
    <button ion-fab (tap)="navigateToEditor()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
