<ion-header>
  <ion-navbar>
    <ion-title> {{ 'I18N_GRASSCUBE' | translate }} - {{ 'I18N_RECEIPT' | translate }} </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let receipt of receipts | async" (tap)="navigateToDetail(receipt.id)">
    <ion-card-content>
      <ion-row>
        <ion-col>
          <p>{{receipt.paymentDate | localizedDate}}</p>
          <p>{{receipt.memo}}</p>
        </ion-col>
        <ion-col>
          <p text-left>{{ 'I18N_DIFFERENCE' | translate}} {{receipt.difference | number}}</p>
          <p text-right>{{ 'I18N_BALANCE' | translate}} {{receipt.balance | number}}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-fab right middle *ngIf="creationPermitted">
    <button ion-fab (tap)="navigateToEditor()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
