<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>

  <ion-row>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
    <ion-col col-12 col-sm-6 col-xl-4>

      <ion-toolbar *ngIf="sharedDataService.paneSplited">
        <ion-buttons right>
          <button ion-button icon-only (tap)="popNavigation()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-buttons>{{(activity | async)?.title}}</ion-buttons>
      </ion-toolbar>

      <ion-row align-items-center justify-content-start>
        <ion-col col-auto>
          <grasscube-user [user]="creator | async"></grasscube-user>
        </ion-col>
        <ion-col>
          <p>{{(creator | async)?.name}}</p>
          <p>{{(activity | async)?.modifiedDate | localizedDate:'short'}}</p>
        </ion-col>
      </ion-row>

      <p>{{(activity | async)?.description}}</p>

      <div style="height:10px"></div>

      <img *ngFor="let image of (activity | async)?.imageUrls" [src]="image" style="width: auto; height: auto">

      <div style="height:10px"></div>

      <p>{{ 'I18N_ACTIVITY_DATE' | translate}}: {{(activity | async)?.activityDate | localizedDate:'short'}}</p>
      <ion-buttons left *ngIf="participants.length > 0">
        {{ 'I18N_PARTICIPANTS' | translate}}:

        <grasscube-user *ngFor="let participant of participants" [user]="participant | async"></grasscube-user>
      </ion-buttons>

      <ion-card *ngIf="decision | async">
        <ion-item tappable (tap)="navigateToDecisionDetail(decision)">
          <ion-row align-items-center>
            <ion-col col-auto>
              <ion-icon style="font-size: 1.8em" name="arrow-back"></ion-icon>
            </ion-col>
            <ion-col>
              <p>{{ 'I18N_BASIS_FOR_THIS_DOCUMENT' | translate }}</p>
              <p>{{ 'I18N_DECISION' | translate }} - {{ (decision | async)?.title }}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>

      <ion-card *ngFor="let receipt of receipts; let i=index">
        <ion-item tappable (tap)="navigateToReceiptDetail(receipt)">
          <ion-row align-items-center>
            <ion-col>
              <p>{{ 'I18N_RECEIPT' | translate }}{{i+1}} - {{ (receipt | async)?.title }}</p>
              <p text-right>{{ 'I18N_DIFFERENCE' | translate}} {{(receipt | async)?.difference | number}}</p>
            </ion-col>
            <ion-col col-auto>
              <ion-icon style="font-size: 1.8em" name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>

      <p text-right style="white-space: normal">
        {{ (activity | async)?.elapsedTime }} {{ 'I18N_HOURS' | translate}} X {{ (activity | async)?.participants.length }} {{ 'I18N_PARTICIPANTS'
        | translate}} = {{ (activity | async)?.elapsedTime * (activity | async)?.participants.length }} {{ 'I18N_HOURS' |
        translate}}
      </p>
      <p text-right style="white-space: normal">
        {{ 'I18N_TOTAL_DIFFERENCE' | translate}} {{(activity | async)?.totalDifference | number}}
      </p>
    </ion-col>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
  </ion-row>
</ion-content>
