<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>

  <span *ngIf="!sharedDataService.activityReadPermitted">
    <p text-center>{{'I18N_ACCESS_DENIED' | translate}}</p>
    <gyetube-member-register-button></gyetube-member-register-button>
  </span>

  <ion-row *ngIf="sharedDataService.activityReadPermitted">
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
    <ion-col col-12 col-sm-6 col-xl-4>

      <ion-toolbar *ngIf="sharedDataService.paneSplited">
        <ion-buttons right>
          <button ion-button icon-only (tap)="popNavigation()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-buttons>{{activity?.title}}</ion-buttons>
      </ion-toolbar>

      <ion-row align-items-center justify-content-start>
        <ion-col col-auto>
          <gyetube-user [user]="activity?.creator"></gyetube-user>
        </ion-col>
        <ion-col>
          <p>{{activity?.creator?.name}}</p>
          <p>{{activity?.modified_datetime | localizedDate:'short'}}</p>
        </ion-col>
        <ion-col col-auto *ngIf="sharedDataService.activityCreatePermitted && activity?.creator?.member_id == sharedDataService.myselfMemberId">
          <!-- <button ion-button icon-only (tap)="navigateToEditorForUpdate()">
            <ion-icon name="create"></ion-icon>
          </button> -->
        </ion-col>
        <ion-col col-auto *ngIf="sharedDataService.activityDeletePermitted && activity?.creator?.member_id == sharedDataService.myselfMemberId">
          <button ion-button icon-only (tap)="deleteButtonHandler()">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <p>{{activity?.description}}</p>

      <div style="height:10px"></div>

      <img *ngFor="let image of activity?.image_urls" [src]="image" style="width: auto; height: auto">

      <div style="height:10px"></div>

      <p>{{ 'I18N_ACTIVITY_DATE' | translate}}: {{activity?.activity_datetime | localizedDate:'short'}}</p>
      <ion-buttons left *ngIf="activity?.participants.length > 0">
        {{ 'I18N_PARTICIPANTS' | translate}}:

        <gyetube-user *ngFor="let participant of activity.participants" [user]="participant"></gyetube-user>
      </ion-buttons>

      <ion-card *ngIf="activity?.parent_decision">
        <ion-item tappable (tap)="navigateToDecisionDetail(activity.parent_decision.decision_id)">
          <ion-row align-items-center>
            <ion-col col-auto>
              <ion-icon style="font-size: 1.8em" name="arrow-back"></ion-icon>
            </ion-col>
            <ion-col>
              <p>{{ 'I18N_BASIS_FOR_THIS_DOCUMENT' | translate }}</p>
              <p>{{ 'I18N_DECISION' | translate }} - {{ activity.parent_decision.title }}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>

      <ion-card *ngFor="let receipt of activity?.child_receipts; let i=index">
        <ion-item tappable (tap)="navigateToReceiptDetail(receipt.receipt_id)">
          <ion-row align-items-center>
            <ion-col>
              <p>{{ 'I18N_RECEIPT' | translate }}{{i+1}} - {{ receipt.title }}</p>
              <p text-right>{{ 'I18N_DIFFERENCE' | translate}} {{receipt.difference | number}}</p>
            </ion-col>
            <ion-col col-auto>
              <ion-icon style="font-size: 1.8em" name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>

      <p text-right style="white-space: normal">
        {{ activity?.elapsed_time }} {{ 'I18N_HOURS' | translate}} X {{ activity?.participants.length }} {{ 'I18N_PARTICIPANTS' | translate}} = {{ activity?.elapsed_time * activity?.participants.length }} {{ 'I18N_HOURS' | translate}}
      </p>
      <p text-right style="white-space: normal">
        {{ 'I18N_TOTAL_DIFFERENCE' | translate}} {{activity?.total_difference | number}}
      </p>
    </ion-col>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
  </ion-row>
</ion-content>
