<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>
  <ion-card *ngFor="let activity of activities | async" (tap)="navigateToDetail(activity.id)">
    <ion-card-content>
      <ion-row>
        <ion-col>
          <p>{{activity.activityDate | localizedDate}}</p>
          <p>{{activity.title}}</p>
        </ion-col>
        <ion-col>
          <p text-left>
            {{ activity.elapsedTime }} {{ 'I18N_HOURS' | translate}}
             X {{ activity.participants.length }} {{ 'I18N_PARTICIPANTS' | translate}}
          </p>
          <p text-right>
            = {{ activity.elapsedTime * activity.participants.length }} {{ 'I18N_HOURS' | translate}}
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-fab right middle *ngIf="creationPermitted">
    <button ion-fab (tap)="navigateToEditor()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
