<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>

  <ion-grid fixed>
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let activity of activities | async">
        <button ion-item (tap)="navigateToDetail(activity.id)" no-lines>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <p>{{activity.title}}</p>
            </ion-row>
            <ion-row>
              <p>{{activity.activityDate | localizedDate}}</p>
            </ion-row>
            <ion-row>
              <ion-col>
                <p text-right>
                  {{ activity.elapsedTime }} {{ 'I18N_HOURS' | translate}} X {{ activity.participants.length }} {{ 'I18N_PARTICIPANTS' | translate}}
                  = {{ activity.elapsedTime * activity.participants.length }} {{ 'I18N_HOURS' | translate}}
                </p>
              </ion-col>
              <img *ngIf="activity.imageUrls.length > 0" [src]="activity.imageUrls[0]">
            </ion-row>
          </ion-card-content>
        </ion-card>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab right middle *ngIf="creationPermitted">
    <button ion-fab (tap)="navigateToEditor()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
