page-receipt-detail {
  .item {
    padding-left: 0px;
  }
  .item-inner {
    padding-right: 0px!important;
  }
  .label {
    margin-right: 0px;
  }
  p {
    color: color($colors, dark, base)!important;
  }
}
