page-group-home {
  ion-card-content > p {
    white-space: pre-wrap;
  }

  .noti-button {
    overflow: visible!important;
  }

  .noti-badge {
    background-color: red;
    position: absolute;
    top: -4px;
    right: 63px;
    border-radius: 100%;
    z-index:10;
  }
}
