<ion-header>
  <ion-navbar>
    <ion-title> {{ 'I18N_GRASSCUBE' | translate }} - {{ 'I18N_DECISION' | translate }} </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let decision of decisions | async" (click)="navigateToDetail(decision.id)">
    <ion-card-content>
      <ion-row>
        <ion-col>
          <p>{{decision.createdDate | localizedDate}}</p>
          <p>{{decision.title}}</p>
        </ion-col>
        <ion-col>
          <p text-right *ngIf="decision.accepters.length"> {{ 'I18N_ACCEPTERS' | translate}} {{ decision.accepters.length }} </p>
          <p text-right *ngIf="decision.rejecters.length"> {{ 'I18N_REJECTERS' | translate}} {{ decision.rejecters.length }} </p>
          <p text-right *ngIf="decision.abstainers.length"> {{ 'I18N_ABSTAINERS' | translate}} {{ decision.abstainers.length }} </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p text-right>
            {{ 'I18N_TOTAL_ELAPSED_TIME' | translate}} {{decision.totalElapsedTime | number}} {{ 'I18N_HOURS' | translate}}
          </p>
          <p text-right>
            {{ 'I18N_TOTAL_DIFFERENCE' | translate}} {{decision.totalDifference | number}}
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
