<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <h4><ion-icon name="cube"></ion-icon> {{ 'I18N_GRASSCUBE' | translate }}</h4>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (tap)="pushMenu()">
        <ion-icon *ngIf="!loggedIn" name="contact"></ion-icon>
        <ion-avatar *ngIf="loggedIn">
          <img [src]="user.imageUrl">
        </ion-avatar>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let group of groups" (tap)="navigateToGroup(group.id)">
    <ion-card-header>
      {{group.title}}
    </ion-card-header>
    <ion-card-content>
      {{group.description}} - (클릭)
    </ion-card-content>
  </ion-card>
</ion-content>
