<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>

  <ion-row>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
    <ion-col col-12 col-sm-6 col-xl-4>

      <ion-toolbar *ngIf="sharedDataService.paneSplited">
        <ion-buttons right>
          <button ion-button icon-only (tap)="popNavigation()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-buttons>{{member?.name}}</ion-buttons>
      </ion-toolbar>

      <ion-toolbar *ngIf="member?.member_state == 'PENDING_ADDS' && member?.next_id == null">
        <ion-buttons>
          {{'I18N_PENDING_ADDS' | translate}}<br>
          <ion-icon name="alert" color="danger"></ion-icon>
          {{'I18N_NEED_YOUR_REVIEW' | translate}}
        </ion-buttons>
      </ion-toolbar>

      <ion-row align-items-center justify-content-start>
        <ion-col col-auto>
          {{'I18N_AUTHOR' | translate }}:
          <gyetube-user [user]="member?.creator"></gyetube-user>
        </ion-col>
        <ion-col>
          <p>{{member?.creator?.name}}</p>
          <p>{{member?.created_datetime | localizedDate:'short'}}</p>
        </ion-col>
      </ion-row>

      <ion-item *ngIf="member?.image_url || member?.name">
        <ion-avatar item-start *ngIf="member?.image_url?.includes('http')">
          <img [src]="member?.image_url">
        </ion-avatar>
        <h2>{{ member?.name }}</h2>
        <p>{{'I18N_' + member?.member_state | translate}}</p>
      </ion-item>

      <ion-card *ngIf="member?.parent_decision">
        <ion-item tappable (tap)="navigateToDecisionDetail(member.parent_decision.decision_id)">
          <ion-row align-items-center>
            <ion-col>
              <p>{{ 'I18N_BASIS_FOR_THIS_DOCUMENT' | translate }}</p>
              <p>{{ 'I18N_DECISION' | translate }} - {{ member.parent_decision.title }}</p>
            </ion-col>
            <ion-col col-auto>
              <ion-icon style="font-size: 1.8em" name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>

      <ion-card *ngFor="let role of member?.roles; let i=index">
        <ion-item tappable (tap)="navigateToRoleDetail(role.role_id)">
          <ion-row align-items-center>
            <ion-col>
              <p *ngIf="role.document_state != 'PREDEFINED'">{{ 'I18N_ROLE' | translate }}{{i+1}} - {{ role.name }}</p>
              <p *ngIf="role.document_state == 'PREDEFINED'">{{ 'I18N_ROLE' | translate }}{{i+1}} - {{ 'I18N_' + role.name | translate }}</p>
              <ion-row justify-content-end>
                <gyetube-permission [name]="('I18N_HOME' | translate) || '&nbsp;'" [permission]="role.home"></gyetube-permission>
              </ion-row>
              <ion-row justify-content-end>
                <gyetube-permission [name]="('I18N_MEMBER' | translate) || '&nbsp;'" [permission]="role.member"></gyetube-permission>
              </ion-row>
              <ion-row justify-content-end>
                <gyetube-permission [name]="('I18N_ROLE' | translate) || '&nbsp;'" [permission]="role.role"></gyetube-permission>
              </ion-row>
              <ion-row justify-content-end>
                <gyetube-permission [name]="('I18N_PROCEEDING' | translate) || '&nbsp;'" [permission]="role.proceeding"></gyetube-permission>
              </ion-row>
              <ion-row justify-content-end>
                <gyetube-permission [name]="('I18N_DECISION' | translate) || '&nbsp;'" [permission]="role.decision"></gyetube-permission>
              </ion-row>
              <ion-row justify-content-end>
                <gyetube-permission [name]="('I18N_ACTIVITY' | translate) || '&nbsp;'" [permission]="role.activity"></gyetube-permission>
              </ion-row>
              <ion-row justify-content-end>
                <gyetube-permission [name]="('I18N_RECEIPT' | translate) || '&nbsp;'" [permission]="role.receipt"></gyetube-permission>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>

      <ion-buttons right *ngIf="member?.member_state == 'PENDING_ADDS' && member?.next_id == null">
        <ion-list radio-group no-lines>
          <ion-item>
            <ion-label style="color: #7f7f7f;">{{ 'I18N_APPROVE_NEW_MEMBER' | translate }}</ion-label>
            <ion-radio (ionSelect)="approveState=enum.STATE_NEW_MEMBER" checked="true"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label style="color: #7f7f7f;">{{ 'I18N_APPROVE_OVERWRITE' | translate }}</ion-label>
            <ion-radio (ionSelect)="approveState=enum.STATE_OVERWRITE"></ion-radio>
          </ion-item>
          <ion-item *ngIf="approveState==enum.STATE_OVERWRITE">
            <ion-select [(ngModel)]="overwrite_id" [selectOptions]="{title: ('I18N_MEMBER' | translate), subTitle: ('I18N_SELECT_ONE' | translate)}"
              [class.invalid]="!overwrite_id && submitAttempt">
              <ion-option *ngFor="let member of members | async" [value]="member.member_id">{{member.name}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label style="color: #7f7f7f;">{{ 'I18N_REJECT' | translate }}</ion-label>
            <ion-radio (ionSelect)="approveState=enum.STATE_REJECT"></ion-radio>
          </ion-item>
        </ion-list>
        <button ion-button (tap)="onSubmit()">{{ 'I18N_SUBMIT' | translate }}</button>
      </ion-buttons>

      <ion-toolbar *ngIf="(member?.prev_id || member?.next_id)">
        <ion-buttons left *ngIf="member?.member_state != 'PENDING_UPDATES' && member?.prev_id">
          <button ion-button icon-only (tap)="navigateToPrev()">
            <ion-icon name="arrow-back"></ion-icon>
            {{ 'I18N_PREV' | translate}}
            <br/>
            <br/> {{ 'I18N_REVISION' | translate}}
          </button>
        </ion-buttons>
        <ion-buttons right *ngIf="member?.member_state != 'PENDING_UPDATES' && member?.next_id">
          <button ion-button icon-only (tap)="navigateToNext()">
            {{ 'I18N_NEXT' | translate}}
            <br/>
            <br/> {{ 'I18N_REVISION' | translate}}
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
  </ion-row>
</ion-content>
