<ion-content fullscreen (ionScroll)="util.onContentScroll($event)">
  <div style="height:56px"></div>

  <ion-row>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
    <ion-col col-12 col-sm-6 col-xl-4>

      <ion-toolbar *ngIf="sharedDataService.paneSplited">
        <ion-buttons right>
          <button ion-button icon-only (tap)="popNavigation()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-buttons>{{member?.name}}</ion-buttons>
      </ion-toolbar>

      <ion-row align-items-center justify-content-start>
        <ion-col col-auto>
          <grasscube-user [user]="member?.creator"></grasscube-user>
        </ion-col>
        <ion-col>
          <p>{{member?.creator?.name}}</p>
          <p>{{member?.created_datetime | localizedDate:'short'}}</p>
        </ion-col>
      </ion-row>

      <ion-item *ngIf="member?.user_id">
        <ion-avatar item-start *ngIf="member?.image_url?.includes('http')">
          <img [src]="member?.image_url">
        </ion-avatar>
        <h2>{{ member?.name }}</h2>
        <p>{{ member?.third_party }}</p>
      </ion-item>

      <ion-card *ngIf="member?.parent_decision">
        <ion-item tappable (tap)="navigateToDecisionDetail(member.parent_decision.decision_id)">
          <ion-row align-items-center>
            <ion-col>
              <p>{{ 'I18N_BASIS_FOR_THIS_DOCUMENT' | translate }}</p>
              <p>{{ 'I18N_DECISION' | translate }} - {{ member.parent_decision.title }}</p>
            </ion-col>
            <ion-col col-auto>
              <ion-icon style="font-size: 1.8em" name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>

      <ion-card *ngFor="let role of member?.roles; let i=index">
        <ion-item tappable (tap)="navigateToRoleDetail(role.role_id)">
          <ion-row align-items-center>
            <ion-col>
              <p>{{ 'I18N_ROLE' | translate }}{{i+1}} - {{ role.name }}</p>
              <ion-row justify-content-end>
                <grasscube-permission [name]="('I18N_MEMBER' | translate) || '&nbsp;'" [permission]="role.member"></grasscube-permission>
              </ion-row>
              <ion-row justify-content-end>
                <grasscube-permission [name]="('I18N_ROLE' | translate) || '&nbsp;'" [permission]="role.role"></grasscube-permission>
              </ion-row>
              <ion-row justify-content-end>
                <grasscube-permission [name]="('I18N_PROCEEDING' | translate) || '&nbsp;'" [permission]="role.proceeding"></grasscube-permission>
              </ion-row>
              <ion-row justify-content-end>
                <grasscube-permission [name]="('I18N_DECISION' | translate) || '&nbsp;'" [permission]="role.decision"></grasscube-permission>
              </ion-row>
              <ion-row justify-content-end>
                <grasscube-permission [name]="('I18N_ACTIVITY' | translate) || '&nbsp;'" [permission]="role.activity"></grasscube-permission>
              </ion-row>
              <ion-row justify-content-end>
                <grasscube-permission [name]="('I18N_RECEIPT' | translate) || '&nbsp;'" [permission]="role.receipt"></grasscube-permission>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col col-sm-3 col-xl-4>
    </ion-col>
  </ion-row>
</ion-content>
