<ion-header>
  <ion-navbar>
    <ion-title> {{ 'I18N_GRASSCUBE' | translate }} - {{ 'I18N_DECISION' | translate }} </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="popNavigation()">
          <ion-icon name="arrow-up"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons>{{(decision | async)?.title}}</ion-buttons>
    </ion-toolbar>

    <ion-card-header>
      <p>{{ 'I18N_CREATED_DATE' | translate}}: {{(decision | async)?.createdDate | localizedDate}}</p>
      <p>{{ 'I18N_EXPIRY_DATE' | translate }}: {{(decision | async)?.expiryDate | localizedDate}}</p>
      <p>{{(decision | async)?.content}}</p>
    </ion-card-header>

    <ion-card-content>
      <ion-buttons left *ngIf="accepters.length">
        {{ 'I18N_ACCEPTERS' | translate}}:
        <button ion-button clear icon-only (click)="navigateToUserDetail()" *ngFor="let accepter of accepters">
          <ion-avatar><img [src]="(accepter | async)?.imageUrl"></ion-avatar>
        </button>
      </ion-buttons>
      <ion-buttons left *ngIf="rejecters.length">
        {{ 'I18N_REJECTERS' | translate}}:
        <button ion-button clear icon-only (click)="navigateToUserDetail()" *ngFor="let rejecter of rejecters">
          <ion-avatar><img [src]="(rejecter | async)?.imageUrl"></ion-avatar>
        </button>
      </ion-buttons>
      <ion-buttons left *ngIf="abstainers.length">
        {{ 'I18N_ABSTAINERS' | translate}}:
        <button ion-button clear icon-only (click)="navigateToUserDetail()" *ngFor="let abstainer of abstainers">
          <ion-avatar><img [src]="(abstainer | async)?.imageUrl"></ion-avatar>
        </button>
      </ion-buttons>
    </ion-card-content>

    <ion-card *ngIf="proceeding | async">
      <ion-toolbar>
        <ion-buttons>
          <p>{{ 'I18N_PROCEEDING' | translate }} - {{ (proceeding | async)?.title }}</p>
        </ion-buttons>
        <ion-buttons left>
          <button ion-button icon-only (click)="navigateToProceedingDetail(proceeding)">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card>

    <ion-card *ngFor="let activity of activities; let i=index">
      <ion-toolbar>
        <ion-buttons>
          <p>{{ 'I18N_ACTIVITY' | translate }}{{i+1}} - {{ (activity | async)?.title }}</p>
          <p text-right>
            {{ 'I18N_ELAPSED_TIME' | translate}}
            {{ (activity | async)?.elapsedTime * (activity | async)?.participants.length }}
            {{ 'I18N_HOURS' | translate}}
          </p>
          <p text-right>
            {{ 'I18N_DIFFERENCE' | translate}}
            {{ (activity | async)?.totalDifference | number}}
          </p>
        </ion-buttons>
        <ion-buttons right>
          <button ion-button icon-only (click)="navigateToActivityDetail(activity)">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card>

    <ion-card-content>
      <p text-right>
        {{ 'I18N_TOTAL_ELAPSED_TIME' | translate}} {{(decision | async)?.totalElapsedTime | number}} {{ 'I18N_HOURS' | translate}}
      </p>
      <p text-right>
        {{ 'I18N_TOTAL_DIFFERENCE' | translate}} {{(decision | async)?.totalDifference | number}}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="popNavigation()" threshold="-10%">
    <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
