<div id="main-content">
    <div id="proceeding-list">
        <ol>
            <li>
                <div *ngIf="!selectedNewProceeding" (click)="selectedNewProceeding = true;">+</div>
                <div *ngIf="selectedNewProceeding">
                    <label>Title:</label> <input #proceedingTitle />
                    <label>Content:</label> <input #proceedingContent />
                    <label>Policy Changeset:</label>
                    <button *ngIf="!policyChangeMode" (click)="onAddPolicyChangeset()"> Add </button>
                    <button *ngIf="policyChangeMode" (click)="onCancelPolicyChangeset()"> Cancel </button>
                    <policy-changeset [policyChangeset]="policyChangeset" [changeMode]="true"></policy-changeset>
                    <button (click)="onNewProceeding(proceedingTitle.value, proceedingContent.value); proceedingTitle.value=proceedingContent.value=''">
                        Create
                    </button>
                    <button (click)="onCancelNewProceeding(); proceedingTitle.value=proceedingContent.value=''">
                        Cancel
                    </button>
                </div>
            </li>
            <li *ngFor="let proceeding of proceedings">
                <proceeding [proceeding]="proceeding"></proceeding>
            </li>
        </ol>
    </div>
    <div id="policy-list">
        <ol>
            <li>
                <div *ngIf="!selectedNewPolicy && policyChangeMode" (click)="selectedNewPolicy = true">+</div>
                <div *ngIf="selectedNewPolicy">
                    <label>Content:</label> <input #policyContent />
                    <label>Expiry Date:</label> <input type="date" #policyExpiryDate />
                    <button (click)="onNewPolicy(policyContent.value, policyExpiryDate.value) ? policyContent.value='' : '';">
                        Done
                    </button>
                    <button (click)="selectedNewPolicy=false; policyContent.value=''">
                        Cancel
                    </button>
                </div>
            </li>
            <li *ngFor="let policy of policies">
                <policy [policy]="policy" [changeMode]="policyChangeMode" (policyChangesetRequest)="onPolicyChangesetRequested()"></policy>
            </li>
        </ol>
    </div>
    <div id="activity-list">
        <ol>
            <li>
                <div>+</div>
            </li>
            <li *ngFor="let activity of activities">
                <div class="activity">
                    <span>date: {{activity.date | date:'y-MM-dd'}}</span>
                    <span>content: {{activity.content}}</span>
                </div>
            </li>
        </ol>
    </div>
    <div id="receipt-list">
        <ol>
            <li>
                <div>+</div>
            </li>
            <li *ngFor="let receipt of receipts">
                <div class="receipt">
                    <span>date: {{receipt.date | date:'y-MM-dd'}}</span>
                    <span>imageUrl: {{receipt.imageUrl}}</span>
                </div>
            </li>
        </ol>
    </div>
</div>