<div id="main-content">
    <div id="proceeding-list">
        <ol>
            <li>
                <div *ngIf="!selectedNewProceeding" (click)="onNewProceeding()">+</div>
                <div *ngIf="selectedNewProceeding">
                    <label>Title:</label> <input #proceedingTitle />
                    <label>Content:</label> <input #proceedingContent />
                    <label>Changes of activity policy:</label>
                    <button *ngIf="!policyChangeMode" (click)="policyChangeMode=true"> Add </button>
                    <button *ngIf="policyChangeMode" (click)="policyChangeMode=false"> Done </button>
                    <button (click)="addProceeding(proceedingTitle.value, proceedingContent.value); proceedingTitle.value=proceedingContent.value=''">
                        Done
                    </button>
                    <button (click)="selectedNewProceeding=false; proceedingTitle.value=proceedingContent.value=''">
                        Cancel
                    </button>
                </div>
            </li>
            <li *ngFor="let proceeding of proceedings">
                <proceeding [proceeding]="proceeding"></proceeding>
            </li>
        </ol>
    </div>
    <div id="policy-list">
        <ol>
            <li>
                <div *ngIf="!selectedNewPolicy && policyChangeMode" (click)="onNewPolicy()">+</div>
                <div *ngIf="selectedNewPolicy">
                    <label>Content:</label> <input #policyContent />
                    <button (click)="addPolicy(policyContent.value, policyByProceeding.value); policyContent.value=''">
                        Done
                    </button>
                    <button (click)="selectedNewPolicy=false; policyContent.value=''">
                        Cancel
                    </button>
                </div>
            </li>
            <li *ngFor="let policy of policies">
                <div class="policy">
                    <span>content: {{policy.content}}</span>
                    <button *ngIf="policyChangeMode" (click)="deletePolicy()" >Delete</button>
                </div>
            </li>
        </ol>
    </div>
    <div id="activity-list">
        <ol>
            <li>
                <div>+</div>
            </li>
            <li *ngFor="let activity of activities">
                <div class="activity">
                    <span>date: {{activity.date | date:'y-MM-dd'}}</span>
                    <span>content: {{activity.content}}</span>
                </div>
            </li>
        </ol>
    </div>
    <div id="receipt-list">
        <ol>
            <li>
                <div>+</div>
            </li>
            <li *ngFor="let receipt of receipts">
                <div class="receipt">
                    <span>date: {{receipt.date | date:'y-MM-dd'}}</span>
                    <span>imageUrl: {{receipt.imageUrl}}</span>
                </div>
            </li>
        </ol>
    </div>
</div>