li div {
    border: 1px solid #000000;
    text-align: center;
}

li {
    list-style: none;
}

#proceeding-list {
    float: left;
    width: 25%;
}

#policy-list {
    float: left;
    width: 25%;
}

#activity-list {
    float: left;
    width: 25%;
}

#receipt-list {
    float: left;
    width: 25%;
}