<div id="main-content">
    <div id="proceeding-list">
        <ol>
            <li>
                <proceeding-writing-frame [decisions]="decisions" [proceedings]="proceedings"
                (decisionsRefreshRequested)="onDecisionsRefreshRequested()"
                (proceedingsRefreshRequested)="sortByDate()">
                </proceeding-writing-frame>
            </li>
            <li *ngFor="let proceeding of proceedings">
                <proceeding [proceeding]="proceeding"></proceeding>
            </li>
        </ol>
    </div>
    <div id="decision-list">
        <ol>
            <li>
                <decision-writing-frame></decision-writing-frame>
            </li>
            <li *ngFor="let decision of decisions">
                <decision [decision]="decision"></decision>
            </li>
        </ol>
    </div>
    <div id="activity-list">
        <ol>
            <li>
                <activity-writing-frame [decisions]="decisions" [activities]="activities" (activitiesRefreshRequested)="sortByDateA()"></activity-writing-frame>
            </li>
            <li *ngFor="let activity of activities">
                <activity [activity]="activity"></activity>
            </li>
        </ol>
    </div>
    <div id="receipt-list">
        <ol>
            <li>
                <receipt-writing-frame [receipts]="receipts" [activities]="activities" (receiptsRefreshRequested)="sortByDateR()"></receipt-writing-frame>
            </li>
            <li *ngFor="let receipt of receipts">
                <receipt [receipt]="receipt"></receipt>
            </li>
        </ol>
    </div>
</div>