<ion-header *ngIf="!loggedIn">
  <ion-navbar>
    <ion-buttons left>
      <h4><ion-icon name="cube"></ion-icon> {{ 'I18N_GRASSCUBE' | translate }}</h4>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (tap)="pushMenu()">
        <ion-icon *ngIf="!loggedIn" name="contact"></ion-icon>
        <ion-avatar *ngIf="loggedIn">
          <img *ngIf="!user.imageBase64" [src]="user.imageUrl" >
          <img *ngIf="user.imageBase64" [src]="user.imageBase64" >
        </ion-avatar>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="!loggedIn">
  <ion-card *ngFor="let group of groups | async" (tap)="pushGroup(group.id)">
    <ion-card-header>
      {{group.title}}
    </ion-card-header>
    <ion-card-content>
      {{group.description}} - (클릭)
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tabs *ngIf="loggedIn" tabsPlacement="bottom">
  <ion-tab [root]="tab1Root" tabUrlPath="group"        [tabTitle]="('I18N_GROUPS' | translate) || '&nbsp;'" tabIcon="cube"></ion-tab>
  <ion-tab [root]="tab2Root" tabUrlPath="unchecked"    [tabTitle]="('I18N_UNCHECKED' | translate) || '&nbsp;'" tabIcon="eye-off"></ion-tab>
  <ion-tab [root]="tab3Root" tabUrlPath="notification" [tabTitle]="('I18N_NOTIFICATIONS' | translate) || '&nbsp;'" tabIcon="notifications"></ion-tab>
</ion-tabs>
