<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="popMenu()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons><h4>{{ 'I18N_ACCOUNT' | translate }}</h4></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-item *ngIf="loggedIn">
      <ion-avatar item-start>
        <img [src]="user.imageUrl">
      </ion-avatar>
      <h2>{{user.name}}</h2>
      <p>{{user.loggedInBy}}</p>
    </ion-item>
    <button *ngIf="!loggedIn" ion-item (click)="pushLogin()">
      <ion-icon name="contact" item-left></ion-icon>
      {{ 'I18N_SIGN_IN' | translate }}
    </button>
    <button *ngIf="loggedIn" ion-item (click)="signOut()">
      <ion-icon name="log-out" item-left></ion-icon>
      {{ 'I18N_SIGN_OUT' | translate }}
    </button>
    <button ion-item>
      <ion-icon name="settings" item-left></ion-icon>
      {{ 'I18N_SETTINGS' | translate }}
    </button>
    <button ion-item>
      <ion-icon name="lock" item-left></ion-icon>
      {{ 'I18N_TERMS_AND_PRIVACY_POLICY' | translate }}
    </button>
  </ion-list>
</ion-content>
